# Node modules
node_modules/

# database connections
database/
# Env fájlok
.env

# Log fájlok
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS fájlok
.DS_Store
Thumbs.db

# Build / dist mappák (ha vannak)
dist/
build/

# IDE / editor fájlok (ha használsz pl. VSCode)
.vscode/
.idea/

# Optional: coverage reportok
coverage/

# Optional: debug vagy temp fájlok
*.tmp
*.swp

# Env fájlok több környezethez (ha vannak)
.env.local
.env.*.local